/* ------------------------------------------------- Universal Component -------------------------------------- */
*, div{
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    overflow-x : hidden;
}

.content-content{
    display : flex; 
    flex-wrap: wrap;
    align-items: center;
    min-height: 80vh;
}

.container-fluid{
    padding: 20px;
}

.row{
    width: 100%;
}

/* .content-center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
} */

.formdiv{
    border: 2px solid black;
    border-radius: 5px;
}

ul{
    list-style: none;
}

ul li {
    margin-bottom: 2px;
}

h2:after{
    display:block;
    height: 3px;
    background-color: black;
    content: "";
    width : 100px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

h1{
    overflow: hidden; 
}

/* ------------------------------------------------- Logged In: First Page -------------------------------------- */
.buy_sell_profile a{
    background-color: black;
    height: 360px;
    width: 250px;
    border-radius: 50%;
}

.buy_sell_profile a h1{
    color:white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    overflow: hidden;
}

.buy_sell_profile div a:hover{
    opacity: 0.5;
}


/* --------------------------------------- For Images  --------------------------------------- */

.book_photo {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
}