{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-8 formdiv p-3">

        <div class="row">
        {% if messages %}
        <div class="alert">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }} alert alert-success" {% endif %}> {{ message }} </div>
                {% endfor %}
        </div>
        {% endif %}
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-6 text-center"> 
                {% if object_list.photo %}
                <img class="book_photo" src="{{object_list.photo.url}}" style="width: auto; height:300px">
                {% else %}
                <img class="book_photo" src="{% static 'bookapp/default.jpg' %}" style="width: auto; height:300px"> 
                {% endif %} 
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-12">
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                            Seller: {{object_list.owner.first_name}} {{ object_list.owner.last_name}} 
                            </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Title: {{object_list.book_title}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                ISBN Number: {{object_list.isbn_no}}
                        </li>
                        {% if list.author %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Author: {{object_list.author}}
                        </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Price: ${{object_list.price}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Negotiable: {{object_list.negotiable}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                Description: {{object_list.description}}
                        </li>
                      </ul>
        </div>
        </div>

        <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'send_mail' pk=object_list.pk %}" class="btn btn-primary btn-small"> Contact Seller </a>
                </div>
        </div>
    </div>
    </div>

{% endblock %}