{% extends './base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-11 formdiv">

    <h1 class="text-center mb-4"> Book Share   </h1>

<p> Book Share platform is a simple web application that lets you sell you book without any complication. All you need is 
    an email address. SignUp using your email address. We don't need any kind of the information beside your email address. 
    Login using the username and password you had set up. There are three things basically you can do view profile, buy and sell.
    You can contact the owner of the book via an email address and negotiate the price with the owner of the book. We will soon be 
    adding the sharing feature in our website that will let you share different books with different person. We appreciate you are here.
    This is a small project created to aid students for sharing the books without the involvement of the third party. We will not be 
    responsible for any kind of disputes. All the book kept on sold might appear on other sites as well. Owner and creator of this website will
    not bear responsibility for anything. <i> By signing up you are agreeing with terms and conditions of our website.</i>
</p>
</div>
</div>

{% endblock %}

