{% extends './base.html' %}

{% block content %}

<div class="row justify-content-center content-center">
    <div class="col-8 formdiv">

<h1 class="text-center"> Book Share   </h1>

<p> Book Share platform is a simple web application that lets you sell you book without any complication. All you need is 
    an email address. SignUp using your email address. We don't need any kind of the information beside your email address. 
    Login using the username and password you had set up. There are three things basically you can do view profile, buy and sell.
    You can contact the owner of the book via an email address and negotiate the price with the owner of the book. We will soon be 
    adding the sharing feature in our website that will let you share different books with different person. We appreciate you are here. 
</p>

</div>
</div>

{% endblock %}

