{% extends "./base.html" %}


{% block content %}
    <div class="row content-center justify-content-around buy_sell_profile">
            <a class="col-md-3" href="{% url 'profile'%}">
                <h1 class="text-center"> Profile </h1>
            </a>

        <a href="{% url 'buy'%}" class="col-md-3">
            <h1 class="text-center"> Buy </h1>
        </a>
       
    <a href="{% url 'sell'%}" class="col-md-3">
            <h1 class="text-center"> Sell </h1>
    </a>
</div>

{% endblock %}